.contain {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: auto;
}

.containNav {
    width: 100%;
    height: 10vh;
    display: flex;
    flex-direction: column;

    .boderTop {
        max-width: 100%;
        height: 8px;
        background: linear-gradient(to right, red, orange, yellow, green, blue, indigo, violet);
        background-clip: border-box;
        border-style: solid;
    }

    .menuContent {
        max-width: 100%;
        height: calc(100% - 8px);
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
    }

    .borderBottom {
        max-width: 100%;
        height: 4px;
        background: rgb(230, 230, 230);
    }
}